---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85161205-1', 'auto');
  ga('send', 'pageview');

</script>

I'm a <a href="http://german.berkeley.edu/author/chench/" target="_blank">PhD Candidate</a> at UC Berkeley in German
Literature and Medieval Studies, a <a href="https://bids.berkeley.edu/people/christopher-hench" target="_blank">Data Science Fellow</a> at <a href="https://bids.berkeley.edu/" target="_blank">BIDS</a>, and the Program Development Lead at <a href="http://dlab.berkeley.edu/people/chris-hench" target="_blank">D-Lab</a> and <a href="http://dh.berkeley.edu/people/christopher-hench" target="_blank">Digital Humanities at Berkeley</a>. I also coordinate the module development as part of the <a href="http://data.berkeley.edu/" target="_blank">DSEP</a>.
<br><br>
<br><br>
What I'm working on now:
<br><br>
<ul>
  <li>soundscapes of middle high german</li>
  <li>intertextuality</li>
  <li>prosody and poetic meter</li>
  <li>NLP domain adaptation</li>
</ul>
<br><br>
Programming workshops I've taught/(co-)curated:
<br><br>
<ul>
  <li><a href="https://github.com/henchc/CDIPS-2017-Scraping-NLP" target="_blank">Web Scraping and NLP</a></li>
  <li><a href="https://github.com/Data-on-the-Mind/2017-summer-workshop" target="_blank">Collecting Data from the Web</a></li>
  <li><a href="https://github.com/dlab-berkeley/python-machine-learning" target="_blank">Machine Learning in Python</a></li>
  <li><a href="https://github.com/dlab-berkeley/python-intensive" target="_blank">Python Intensive</a></li>
  <li><a href="https://github.com/henchc/workshops" target="_blank">Introduction to Text Analysis in Python</a></li>
  <li><a href="https://github.com/dlab-berkeley/git-fundamentals" target="_blank">Git Fundamentals</a></li>
  <li><a href="https://github.com/dlab-berkeley/programming-fundamentals" target="_blank">Programming Fundamentals (Bash)</a></li>
  <li><a href="https://github.com/henchc/NLP-Feature-Extraction" target="_blank">NLP Feature Extraction</a></li>
  <li><a href="https://github.com/henchc/THW-NLTK" target="_blank">NLP with Python's NLTK</a></li>
  <li><a href="https://github.com/dlab-berkeley/python-data-from-web" target="_blank">Extracting Data from the Web</a></li>
</ul>
<br><br>
Websites I've developed (WordPress):
<br><br>
<ul>
  <li><a href="http://middleagesinthewiderworld.org" target="_blank">
    <img src="img/maww.png" alt="maww" style="width:400px;height:200px;"></a>

      <br><br>     

  <li><a href="http://www.thepromiseofcinema.com" target="_blank">
    <img src="img/poc.png" alt="poc" style="width:400px;height:200px;"></a>

      <br><br>

  <li><a href="http://ijglsa.org" target="_blank">
    <img src="img/ijglsa.png" alt="ijglsa" style="width:400px;height:200px;"></a>
</ul>
<br><br>

<!-- <div class="portfolio">
    <h1>Web Design:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<!-- <div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<script src="/assets/js/main.js"></script>
