---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

My name is Christopher Hench and I'm a PhD candidate at UC Berkeley in German
Literature and Medieval Studies. I did my undergraduate work in German and
Economics at Middlebury College and have a Master's in German and Scandinavian
Studies from the University of Massachusetts, Amherst. While in Massachusetts,
I worked at the <a href="http://ecommerce.umass.edu/defa/" target="_blank">DEFA Film Library</a> helping with productions and subtitling
films. I've also taught English on a Fulbright in Lübeck, Germany. I'm 
interested in medieval epics and love poetry, economic thinking and literature, 
and the tools of the Digital Humanities.
<br><br>
I also love programming. I teach and consult on Python, web scraping and APIs,
and NLP at Berkeley's <a href="http://dlab.berkeley.edu/people/chris-hench" target="_blank">D-Lab</a>. While these different interests do intersect in 
my work, I also don't mind working on them separately!
<br><br>
<br><br>
What I'm working on now:
<br><br>
<ul>
  <li>the sound of middle high german</li>
  <li>intertextuality</li>
  <li>poetic meter</li>
</ul>
<br><br>
D-Lab workshops I've taught:
<br><br>
<ul>
  <li><a href="https://github.com/dlab-berkeley/python-intensive" target="_blank">Python Intensive</a></li>
  <li><a href="https://github.com/henchc/workshops" target="_blank">Introduction to Text Analysis in Python</a></li>
  <li><a href="https://github.com/dlab-berkeley/git-fundamentals" target="_blank">Git Fundamentals</a></li>
  <li><a href="https://github.com/dlab-berkeley/programming-fundamentals" target="_blank">Programming Fundamentals (Bash)</a></li>
</ul>
<!-- <div class="portfolio">
    <h1>Web Design:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<!-- <div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<script src="/assets/js/main.js"></script>
