---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

My name is Christopher Hench and I'm a PhD candidate at UC Berkeley in German Literature and Medieval Studies. I did my undergraduate work in German and Economics at Middlebury College and have an MA in German and Scandinavian Studies from the University of Massachusetts Amherst. While in Massachusetts, I worked at the DEFA Film Library helping with productions and subtitling films. I've also taught English on a Fulbright in Lübeck. I'm interested in medieval epics and love poetry, economic thinking and literature, and the tools of the Digital Humanities.
<br><br>
I also love programming. I teach and consult on Python, web scraping and APIs, and NLP at Berkeley's D-Lab. While these different interests do intersect in my work, I also don't mind working on them separately!

<!-- <div class="portfolio">
    <h1>Web Design:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<!-- <div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
<script src="/assets/js/main.js"></script>
